{% extends "base.html" %}

{% block title %}
Редактирование профиля
{% endblock %}

{% block content %}
    <h1>Редактирование профиля</h1>
    <form method="post" action="{{ url_for('edit_account') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.old_password.label }}<br>
            {{ form.old_password(size=32) }}
        </div>
        <div>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}
        </div>
        <div>
            {{ form.confirm_new_password.label }}<br>
            {{ form.confirm_new_password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}